body {
  font-family: Arial, 'メイリオ', sans-serif;
  text-align: center;
  background: color #f4f5f7;;
}
#timerText {
  color: #00aaff;
  margin: 30px auto;
  font-size: 50px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

p {
  font-size: 20px;
}

select {
  font-size: 18px;
  padding: 3px;
}

.btn{
  margin-left: 5px;
  display: inline-block;
  font-weight: bold;
  width: 60px;
  padding: 0.5px;
  border-radius: 5px;
  box-shadow: 0 2px 0 #CDC9C9;
  background: #EEE9E9;
  cursor: pointer;
}

.delete_btn {
  margin-left: 15px;
  font-weight: bold;
  width: 60px;
  padding: 3px;
  border-radius: 5px;
  background: #FF4500;
  box-shadow: 0 2px 0 red;
  cursor: pointer;
  color: #fff;
}

