body {
  font-family: Arial, 'メイリオ', sans-serif;
  text-align: center;
}
#timerText {
  color: #00aaff;
  margin: 30px auto;
  font-size: 50px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

p {
  font-size: 20px;
}

select {
  font-size: 18px;
  padding: 3px;
}

.btn{
  margin-left: 5px;
  display: inline-block;
  font-weight: bold;
  width: 60px;
  padding: 0.5px;
  border-radius: 5px;
  box-shadow: 0 2px 0 #CDC9C9;
  background: #EEE9E9;
  cursor: pointer;
}

.delete_btn {
  margin-left: 15px;
  font-weight: bold;
  width: 60px;
  padding: 3px;
  border-radius: 5px;
  background: #FF4500;
  box-shadow: 0 2px 0 red;
  cursor: pointer;
  color: #fff;
}

li{
  list-style: none;
}

/*---------------------------------
animationValue
---------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
input,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-family: 'Jost', sans-serif;
}

body {
  background: #000;
}

h2 {
  margin-bottom: 0;
}

.container {
  position: relative;
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
}

.container::-webkit-scrollbar {
  border-radius: 5px;
}

@media screen and (min-width: 961px) {
  .container::-webkit-scrollbar {
    width: 5px;
  }
}

@media screen and (max-width: 960px) {
  .container::-webkit-scrollbar {
    width: 5px;
  }
}

.container::-webkit-scrollbar-track {
  background: none;
  border-radius: 5px;
}

.container::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5px;
}

.city-wrap {
  padding-top: 80px;
  margin-bottom: 30px;
}

.city-name {
  font-size: 28px;
  text-align: center;
  color: #fff;
  letter-spacing: 0.05em;
}

.weather-background {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -2;
  height: 100vh;
  width: 375px;
}

.weather-background:before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.weather-background.thunder:after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: -1;
  -webkit-animation: thunder-bg 6s infinite;
          animation: thunder-bg 6s infinite;
}

.weather-main {
  text-indent: -9999px;
  margin-left: auto;
  overflow: hidden;
  width: 30px;
  height: 30px;
}

.weather-main.clear {
  background: url(../img/icon_clear.png) no-repeat center;
  background-size: contain;
}

.weather-main.rain {
  background: url(../img/icon_rain.png) no-repeat center;
  background-size: contain;
}

.weather-main.clouds {
  background: url(../img/icon_clouds.png) no-repeat center;
  background-size: contain;
}

.weather-main.snow {
  background: url(../img/icon_snow.png) no-repeat center;
  background-size: contain;
}

.weather-discription {
  color: #fff;
  font-size: 15px;
  text-align: center;
}

.weather-temp {
  color: #fff;
  font-size: 20px;
  text-align: center;
  width: 70px;
}

.weather-temp.big {
  font-size: 80px;
  width: 100%;
  padding-left: 10px;
  line-height: 1;
  margin-top: 10px;
}

.weather-date {
  font-weight: 600;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.weather-back {
  position: absolute;
  left: 10px;
  top: 10px;
  font-weight: 600;
  color: #fff;
  font-size: 13px;
  text-align: center;
  display: none;
  cursor: pointer;
}

.weather-report {
  width: 100%;
  display: block;
}

.weather-reportWrap {
  margin-top: 10px;
}

.weather-reportItem {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #a0a0a0;
}

@media screen and (min-width: 961px) {
  .weather-reportItem {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

@media screen and (max-width: 960px) {
  .weather-reportItem {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

@media screen and (min-width: 961px) {
  .weather-reportItem {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 960px) {
  .weather-reportItem {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.weather-reportItem:first-child {
  border-top: none;
}

.weather-day, .weather-week, .weather-time {
  font-weight: 600;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.weather-day {
  width: 50px;
  text-align: right;
}

.weather-week {
  width: 35px;
  text-align: center;
}

.weather-time {
  width: 70px;
  text-align: right;
}

.weather-date {
  margin-top: 50px;
  margin-bottom: 4px;
  margin-left: 20px;
  letter-spacing: 0.02em;
  text-align: left;
}

.detail-list {
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: 1px solid #a0a0a0;
  display: none;
}

.detail-item {
  width: 50%;
  border-bottom: 1px solid #a0a0a0;
}

@media screen and (min-width: 961px) {
  .detail-item {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

@media screen and (max-width: 960px) {
  .detail-item {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.detail-item .text {
  color: #a0a0a0;
  font-size: 12px;
  letter-spacing: 0.02em;
}

.detail-item .value {
  color: #fff;
  font-size: 28px;
  line-height: 1.125;
  letter-spacing: 0.02em;
}

canvas {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  top: 0;
  left: 0;
  z-index: -2;
}

body {
  position: relative;
  z-index: 0;
}

#canvasRain {
  z-index: -1;
}

#canvasSnow {
  z-index: -1;
}

@-webkit-keyframes thunder-bg {
  0% {
    background-color: rgba(34, 34, 34, 0.4);
  }
  9% {
    background-color: rgba(34, 34, 34, 0.4);
  }
  10% {
    background-color: rgba(179, 179, 179, 0.2);
  }
  10.5% {
    background-color: rgba(34, 34, 34, 0.4);
  }
  80% {
    background-color: rgba(34, 34, 34, 0.4);
  }
  82% {
    background-color: rgba(179, 179, 179, 0.2);
  }
  83% {
    background-color: rgba(34, 34, 34, 0.4);
  }
  83.5% {
    background-color: rgba(179, 179, 179, 0.2);
  }
  100% {
    background-color: rgba(34, 34, 34, 0.4);
  }
}
body {
  font-family: Arial, 'メイリオ', sans-serif;
  text-align: center;
}
#timerText {
  color: #00aaff;
  margin: 30px auto;
  font-size: 50px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

p {
  font-size: 20px;
}

select {
  font-size: 18px;
  padding: 3px;
}

.btn{
  margin-left: 5px;
  display: inline-block;
  font-weight: bold;
  width: 60px;
  padding: 0.5px;
  border-radius: 5px;
  box-shadow: 0 2px 0 #CDC9C9;
  background: #EEE9E9;
  cursor: pointer;
}

.delete_btn {
  margin-left: 15px;
  font-weight: bold;
  width: 60px;
  padding: 3px;
  border-radius: 5px;
  background: #00aaff;
  box-shadow: 0 2px 0 #00aaff;
  cursor: pointer;
  color: #fff;
}

li{
  list-style: none;
}
